<div class="content-about row align-items-start">
  <div class="col text-center">
    <img
      [@zoomIn]="zoomIn"
      src="assets/img/about/perfil.jpg"
      width="213.33"
      height="213.33"
      class="rounded-circle"
      alt=""
      id=""
    />
  </div>
  <div id="about-description" class="col">
    <p id="description-about">
      <span class="tags top-tags">&#8220;</span>
      {{ "PAGES.ABOUT.DESCRIPTION" | translate }}
      <a
        class="color-ca3 font-weight-bold"
        routerLink="/home/contact"
        [@swing]="swing"
        >{{ "PAGES.ABOUT.LETS" | translate }}</a
      >
    </p>
  </div>
</div>
<div class="content-about row align-items-start">
  <div id="about-skills" class="col">
    <div class="">
      <h3 class="color-ca2 title-about">
        {{ "PAGES.ABOUT.SKILLS" | translate }}
      </h3>
    </div>
    <div class="row align-items-start">
      <div class="col">
        <img
          nbPopover="Visual Studio Code"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/vsc.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="HTML"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/html-5.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="CSS"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/css.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="TypeScript"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/ts.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Javascript"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/javascript.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="JSON"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/json-file.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="CHROME"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/cromo.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="jQuery"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/icons8-jquery-500.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Angular"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/icons8-angularjs-480.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Bootstrap"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/icons8-oreja-480.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Responsive Design"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/monitor.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Git"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/icons8-git-480.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Ionic Framework"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/ionic.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Python"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/icons8-python-480.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Node.js"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/node.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Java"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/java.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Spring Boot"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/spring-boot.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="GIS"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/gis.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Open Layers"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/openlayers.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Google Maps"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/gm.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="QGIS"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/qgis.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="PostgreSQL"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/icons8-postgresql-480.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="SQL Server"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/sqlserver.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Oracle DB"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/oracle.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="UML"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/uml.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Trello"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/Trello.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Postman"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/postman.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="REST API"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/api.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
      <div class="col">
        <img
          nbPopover="Heroku"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="top"
          src="assets/img/skills/heroku.png"
          width="50"
          height="50"
          class=""
          alt=""
          id=""
        />
      </div>
    </div>
  </div>
  <div id="about-logros" class="col">
    <div class="">
      <h3 class="color-ca2 title-about">
        {{ "PAGES.ABOUT.HONORS" | translate }}
      </h3>
    </div>
    <div id="logro-1" class="">
      <p>
        <strong>{{ "PAGES.ABOUT.OFFICIAL_TITLE" | translate }}</strong>
      </p>
      <p class="mb-0">
        <strong>{{ "PAGES.ABOUT.OFFICIAL_TITLE_1" | translate }}</strong>
        {{ "PAGES.ABOUT.OFFICIAL_WINNER" | translate }}
      </p>
      <p class="mb-0">
        <strong>{{ "PAGES.ABOUT.OFFICIAL_DEVELOPMENT" | translate }}</strong>
        {{ "PAGES.ABOUT.OFFICIAL_DEVELOPMENT_DESCRIPTION" | translate }}
      </p>
      <p class="mb-0">
        <strong>{{ "PAGES.ABOUT.OFFICIAL_ORGANIZERS" | translate }}</strong>
        {{ "PAGES.ABOUT.OFFICIAL_ORGANIZERS_DESCRIPTION" | translate }}
      </p>
      <p class="mb-0">
        <strong>{{ "PAGES.ABOUT.OFFICIAL_ARTICLE" | translate }}</strong>
        <a
          href="http://agenciadenoticias.unal.edu.co/detalle/article/plataforma-web-mejoraria-proceso-de-reciclaje-en-colegios.html"
          target="_blank"
        >
          {{ "PAGES.ABOUT.OFFICIAL_URL" | translate }}</a
        >
      </p>
      <p class="mb-0">
        <strong>{{ "PAGES.ABOUT.OFFICIAL_CONTACT" | translate }}</strong
        >{{ "PAGES.ABOUT.OFFICIAL_PHONE" | translate }}
      </p>
    </div>
  </div>
</div>
<div class="content-about row align-items-start">
  <div class="w-100">
    <h3 class="color-ca2 title-about">
      {{ "PAGES.ABOUT.WORKFLOW" | translate }}
    </h3>
  </div>
  <div class="col">
    <nb-card [@zoomIn]="zoomIn" size="medium " class="card-project">
      <nb-card-header class="title-project color-ca3">
        <img
          [@zoomIn]="zoomIn"
          src="assets/img/about/plan.png"
          width="51.2"
          height="51.2"
          class="rounded"
          alt=""
          id=""
        />
        <br />
        {{ "PAGES.ABOUT.WORKFLOW_LIST.1.TITLE" | translate }}</nb-card-header
      >
      <nb-card-body>
        <li>
          {{ "PAGES.ABOUT.WORKFLOW_LIST.1.SUB_1" | translate }}
        </li>
        <li>
          {{ "PAGES.ABOUT.WORKFLOW_LIST.1.SUB_2" | translate }}
        </li>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col">
    <nb-card [@zoomIn]="zoomIn" size="medium " class="card-project">
      <nb-card-header class="title-project color-ca3">
        <img
          [@zoomIn]="zoomIn"
          src="assets/img/about/sketch.png"
          width="51.2"
          height="51.2"
          class="rounded"
          alt=""
          id=""
        />
        <br />
        {{ "PAGES.ABOUT.WORKFLOW_LIST.2.TITLE" | translate }}</nb-card-header
      >
      <nb-card-body>
        <li>{{ "PAGES.ABOUT.WORKFLOW_LIST.2.SUB_1" | translate }}</li>
        <li>{{ "PAGES.ABOUT.WORKFLOW_LIST.2.SUB_2" | translate }}</li>
        <li>{{ "PAGES.ABOUT.WORKFLOW_LIST.2.SUB_3" | translate }}</li>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col">
    <nb-card [@zoomIn]="zoomIn" size="medium " class="card-project">
      <nb-card-header class="title-project color-ca3">
        <img
          [@zoomIn]="zoomIn"
          src="assets/img/about/data.png"
          width="51.2"
          height="51.2"
          class="rounded"
          alt=""
          id=""
        />
        <br />
        {{ "PAGES.ABOUT.WORKFLOW_LIST.3.TITLE" | translate }}</nb-card-header
      >
      <nb-card-body>
        <li>
          {{ "PAGES.ABOUT.WORKFLOW_LIST.3.SUB_1" | translate }}
        </li>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col">
    <nb-card [@zoomIn]="zoomIn" size="medium " class="card-project">
      <nb-card-header class="title-project color-ca3">
        <img
          [@zoomIn]="zoomIn"
          src="assets/img/about/test.png"
          width="51.2"
          height="51.2"
          class="rounded"
          alt=""
          id=""
        />
        <br />
        {{ "PAGES.ABOUT.WORKFLOW_LIST.4.TITLE" | translate }}</nb-card-header
      >
      <nb-card-body>
        <li>{{ "PAGES.ABOUT.WORKFLOW_LIST.4.SUB_1" | translate }}</li>
      </nb-card-body>
    </nb-card>
  </div>
</div>
