<div class="content-about row align-items-start">
  <div id="about-description" class="col">
    <h1>{{ "PAGES.ABOUT.TITLE" | translate }}</h1>

    <p id="description-about">
      <span class="tags top-tags">&#8220;</span>
      {{ "PAGES.ABOUT.DESCRIPTION" | translate }}
      <a
        class="color-ca3 font-weight-bold"
        routerLink="/home/contact"
        [@swing]="swing"
        >{{ "PAGES.ABOUT.LETS" | translate }}</a
      >
    </p>
  </div>
</div>

<div id="content-video">
  <youtube-player
    videoId="Dx0ATyIBlIU"
    suggestedQuality="highres"
    [height]="hei"
    [width]="wid"
    [startSeconds]="'1'"
    [showBeforeIframeApiLoads]="false"
  >
  </youtube-player>
</div>
