#about-description {
  text-align: center;
}

.content-about {
  margin-left: 10%;
  margin-right: 10%;
}

.title-about {
  margin-top: 1em;
  padding: 1em;
  font-size: 25px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
}

#description-about {
  /*font-family: "font-family: 'leelUl'";*/
  color: #8f9bb3;
  padding: 2em;
  font-size: 1.2em;
}

.tags {
  font-family: auto;
  font-weight: 900;
  font-size: 3em;
}

#content-video {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  height: 0;
  margin-bottom: 3em;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

youtube-player {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
