<div class="row align-items-start h-100">
  <div class="content col-lg">
    <br />
    <br />
    <h4 class="title-h1 color-ca2 desc">
      {{ "PAGES.INIT.WELCOME" | translate }}
    </h4>
    <h4 class="title-h1 color-ca2 t1 desc">
      {{ "PAGES.INIT.TITLE" | translate }}
    </h4>
    <h4 class="title-h1 t2 color-white desc">
      {{ "PAGES.INIT.SUBTITLE" | translate }}
    </h4>
    <br />

    <br />
    <br />
    <h5 class="title-h1 color-ca2">
      {{ "PAGES.INIT.DESCRIPTION" | translate }}
    </h5>
    <br />
    <br />
    <button
      routerLink="/home/contact"
      type="button"
      class="btn flat-button animated rubberBand"
    >
      {{ "PAGES.INIT.CONTACT" | translate }}
    </button>
    <br />
    <br />
    <br />
  </div>

  <div [@lightSpeedIn]="lightSpeedIn" class="content-img col-lg">
    <img
      class="scale-with-grid"
      src="assets/img/init/init.png"
      width="700"
      height="331.33"
    />
  </div>
</div>
