<div class="row align-items-start">
  <h3 class="color-ca2 title-plans">
    {{ "PAGES.PLANS.FEATURED" | translate }}
  </h3>
  <div class="col ml-5">
    <div class="column_attr clearfix">
      <img
        src="assets/img/plans/rafting.png"
        alt="Smiley face"
        height="50"
        width="50"
        class="m-2"
      />
      <h6 class="color-ca3">
        {{ "PAGES.PLANS.SUBTITLE_1" | translate }}
      </h6>
      <hr class="no_line" style="margin: 0 auto 10px;" />
      <h3>{{ "PAGES.PLANS.TITLE_1" | translate }}</h3>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_1.01.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.01.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.01.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.01.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.01.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_1.01.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_1.01.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_1.01.DESC7" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.01.SUB8" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_1.01.DESC8" | translate }}
        </p>
      </div>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_1.02.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.02.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.02.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.02.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.02.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.02.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.02.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.02.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_1.02.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.02.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_1.02.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.02.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_1.02.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_1.02.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_1.02.DESC7" | translate }}
        </p>
      </div>
      <hr class="no_line" style="margin: 0 auto 50px;" />

      <br />
    </div>
  </div>
  <div class="col text-center align-self-center">
    <img
      src="assets/img/plans/rafting_img.png"
      alt="Smiley face"
      height="393"
      width="589"
      class="mt-5 mb-3"
    />
    <p class="mb-0 text-success">
      <strong>{{ "PAGES.PLANS.PRICE_DESC" | translate }}</strong>
    </p>
    <p
      class="button button_size_2 button_dark button_js flat-button"
      data-toggle="modal"
      data-target="#exampleModal"
      target="_blank"
    >
      <span class="button_label"
        >{{ "PAGES.PLANS.PRICE1" | translate }}
        <img
          src="assets/img/plans/cart.png"
          alt="Smiley face"
          height="30"
          width="30"
          class="img-fluid"
      /></span>
    </p>
    <div class="term-content">
      <p class="mb-0 term font-weight-bold">
        <strong>{{ "PAGES.PLANS.TERMS" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_1.01" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_1.02" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_1.03" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_1.04" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_1.05" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_1.06" | translate }}</strong>
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="row align-items-start">
  <div class="col ml-5">
    <div class="column_attr clearfix" style="">
      <img
        src="assets/img/plans/climbing.png"
        alt="Smiley face"
        height="50"
        width="50"
        class="m-2"
      />
      <h6 class="color-ca3">
        {{ "PAGES.PLANS.SUBTITLE_2" | translate }}
      </h6>
      <hr class="no_line" style="margin: 0 auto 10px;" />
      <h3>{{ "PAGES.PLANS.TITLE_2" | translate }}</h3>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_2.01.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.01.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.01.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.01.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.01.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_2.01.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_2.01.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_2.01.DESC7" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.01.SUB8" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_2.01.DESC8" | translate }}
        </p>
      </div>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_2.02.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.02.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.02.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.02.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.02.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.02.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.02.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.02.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_2.02.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.02.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_2.02.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.02.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_2.02.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_2.02.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_2.02.DESC7" | translate }}
        </p>
      </div>
      <br />
    </div>
  </div>
  <div class="col text-center align-self-center">
    <img
      src="assets/img/plans/climbing_img.png"
      alt="Smiley face"
      height="393"
      width="589"
      class="img-fluid scale-with-grid mt-5"
    />
    <p class="mb-0 text-success">
      <strong>{{ "PAGES.PLANS.PRICE_DESC" | translate }}</strong>
    </p>
    <p
      class="button button_size_2 button_dark button_js flat-button"
      data-toggle="modal"
      data-target="#exampleModal"
      target="_blank"
    >
      <span class="button_label"
        >{{ "PAGES.PLANS.PRICE2" | translate }}
        <img
          src="assets/img/plans/cart.png"
          alt="Smiley face"
          height="30"
          width="30"
          class="img-fluid"
      /></span>
    </p>
    <div class="term-content">
      <p class="mb-0 term font-weight-bold">
        <strong>{{ "PAGES.PLANS.TERMS" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_2.01" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_2.02" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_2.03" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_2.04" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_2.05" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_2.06" | translate }}</strong>
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="row align-items-start">
  <div class="col ml-5">
    <div class="column_attr clearfix" style="">
      <img
        src="assets/img/plans/camping_img.png"
        alt="Smiley face"
        height="50"
        width="50"
        class="m-2"
      />
      <h6 class="color-ca3">
        {{ "PAGES.PLANS.SUBTITLE_3" | translate }}
      </h6>
      <hr class="no_line" style="margin: 0 auto 10px;" />
      <h3>{{ "PAGES.PLANS.TITLE_3" | translate }}</h3>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_3.01.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.01.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.01.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.01.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.01.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.01.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.01.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.01.DESC7" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB8" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.01.DESC8" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.01.SUB9" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.01.DESC9" | translate }}
        </p>
      </div>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_3.02.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.02.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.02.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.02.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.02.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.02.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.02.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.02.DESC7" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB8" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.02.DESC8" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.02.SUB9" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.02.DESC9" | translate }}
        </p>
      </div>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_3.03.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.03.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.03.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.03.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.03.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.03.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.03.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.03.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_3.03.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.03.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.03.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.03.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.03.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_3.03.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_3.03.DESC7" | translate }}
        </p>
      </div>
      <br />
    </div>
  </div>
  <div class="col text-center align-self-center">
    <img
      src="assets/img/plans/avent2_img.png"
      alt="Smiley face"
      height="393"
      width="589"
      class="img-fluid scale-with-grid mt-5"
    />
    <img
      src="assets/img/plans/avent1_img.png"
      alt="Smiley face"
      height="393"
      width="589"
      class="img-fluid scale-with-grid mt-5"
    />
    <p class="mb-0 text-success">
      <strong>{{ "PAGES.PLANS.PRICE_DESC" | translate }}</strong>
    </p>
    <p
      class="button button_size_2 button_dark button_js flat-button"
      data-toggle="modal"
      data-target="#exampleModal"
      target="_blank"
    >
      <span class="button_label"
        >{{ "PAGES.PLANS.PRICE3" | translate }}
        <img
          src="assets/img/plans/cart.png"
          alt="Smiley face"
          height="30"
          width="30"
          class="img-fluid"
      /></span>
    </p>
    <div class="term-content">
      <p class="mb-0 term font-weight-bold">
        <strong>{{ "PAGES.PLANS.TERMS" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_3.01" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_3.02" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_3.03" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_3.04" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_3.05" | translate }}</strong>
      </p>
      <p class="mb-0 term">
        <strong>{{ "PAGES.PLANS.TERM_3.06" | translate }}</strong>
      </p>
    </div>
  </div>
</div>

<br />
<br />
<div class="row align-items-start">
  <div class="col ml-5">
    <div class="column_attr clearfix" style="">
      <img
        src="assets/img/plans/climbing.png"
        alt="Smiley face"
        height="50"
        width="50"
        class="m-2"
      />
      <h6 class="color-ca3">
        {{ "PAGES.PLANS.SUBTITLE_5" | translate }}
      </h6>
      <hr class="no_line" style="margin: 0 auto 10px;" />
      <h3>{{ "PAGES.PLANS.TITLE_5" | translate }}</h3>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_5.01.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_4.01.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_5.01.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_5.01.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_5.01.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_5.01.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_5.01.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_5.01.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_5.01.DESC4" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_5.01.SUB5" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_5.01.DESC5" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_5.01.SUB6" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_5.01.DESC6" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_5.01.SUB7" | translate }}</strong
          >{{ "PAGES.PLANS.DESCRIPTION_5.01.DESC7" | translate }}
        </p>
      </div>
      <p class="mb-0 text-success text-center">
        <strong>{{ "PAGES.PLANS.PRICE_DESC" | translate }}</strong>
      </p>
      <p
        class="button button_size_2 button_dark button_js flat-button"
        data-toggle="modal"
        data-target="#exampleModal"
        target="_blank"
      >
        <span class="button_label"
          >{{ "PAGES.PLANS.PRICE5" | translate }}
          <img
            src="assets/img/plans/cart.png"
            alt="Smiley face"
            height="30"
            width="30"
            class="img-fluid"
        /></span>
      </p>
      <div class="term-content">
        <p class="mb-0 term font-weight-bold">
          <strong>{{ "PAGES.PLANS.TERMS" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_5.01" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_5.02" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_5.03" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_5.04" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_5.05" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_5.06" | translate }}</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="col text-center align-self-center">
    <img
      src="assets/img/plans/climbing_img2.png"
      alt="Smiley face"
      height="393"
      width="589"
      class="img-fluid scale-with-grid mt-5"
    />
  </div>
</div>

<br />
<br />
<div class="row align-items-start">
  <div class="col ml-5">
    <div class="column_attr clearfix" style="">
      <img
        src="assets/img/plans/rafting.png"
        alt="Smiley face"
        height="50"
        width="50"
        class="m-2"
      />
      <h6 class="color-ca3">
        {{ "PAGES.PLANS.SUBTITLE_6" | translate }}
      </h6>
      <hr class="no_line" style="margin: 0 auto 10px;" />
      <h3>{{ "PAGES.PLANS.TITLE_6" | translate }}</h3>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_6.01.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_4.01.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_6.01.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_6.01.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_6.01.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_6.01.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_6.01.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_6.01.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_6.01.DESC4" | translate }}
        </p>
      </div>
      <p class="mb-0 text-success text-center">
        <strong>{{ "PAGES.PLANS.PRICE_DESC" | translate }}</strong>
      </p>
      <p
        class="button button_size_2 button_dark button_js flat-button"
        data-toggle="modal"
        data-target="#exampleModal"
        target="_blank"
      >
        <span class="button_label"
          >{{ "PAGES.PLANS.PRICE6" | translate }}
          <img
            src="assets/img/plans/cart.png"
            alt="Smiley face"
            height="30"
            width="30"
            class="img-fluid"
        /></span>
      </p>
      <div class="term-content">
        <p class="mb-0 term font-weight-bold">
          <strong>{{ "PAGES.PLANS.TERMS" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.01" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.02" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.03" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.04" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.05" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.06" | translate }}</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="col text-center align-self-center">
    <img
      src="assets/img/plans/rafting_img2.png"
      alt="Smiley face"
      height="393"
      width="589"
      class="img-fluid scale-with-grid mt-5"
    />
  </div>
</div>

<br />
<br />
<div class="row align-items-start">
  <div class="col ml-5">
    <div class="column_attr clearfix" style="">
      <img
        src="assets/img/plans/transport.png"
        alt="Smiley face"
        height="50"
        width="50"
        class="m-2"
      />
      <h6 class="color-ca3">
        {{ "PAGES.PLANS.SUBTITLE_7" | translate }}
      </h6>
      <hr class="no_line" style="margin: 0 auto 10px;" />
      <h3>{{ "PAGES.PLANS.TITLE_7" | translate }}</h3>
      <hr class="no_line" style="margin: 0 auto 50px;" />
      <div id="logro-1" class="">
        <p>
          <strong>{{
            "PAGES.PLANS.DESCRIPTION_7.01.TITLE" | translate
          }}</strong>
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_4.01.SUB1" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_7.01.DESC1" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_7.01.SUB2" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_7.01.DESC2" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_7.01.SUB3" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_7.01.DESC3" | translate }}
        </p>
        <p class="mb-0">
          <strong>{{ "PAGES.PLANS.DESCRIPTION_7.01.SUB4" | translate }}</strong>
          {{ "PAGES.PLANS.DESCRIPTION_7.01.DESC4" | translate }}
        </p>
      </div>
      <p class="mb-0 text-success text-center">
        <strong>{{ "PAGES.PLANS.PRICE_DESC" | translate }}</strong>
      </p>
      <p
        class="button button_size_2 button_dark button_js flat-button"
        data-toggle="modal"
        data-target="#exampleModal"
        target="_blank"
      >
        <span class="button_label"
          >{{ "PAGES.PLANS.PRICE7" | translate }}
          <img
            src="assets/img/plans/cart.png"
            alt="Smiley face"
            height="30"
            width="30"
            class="img-fluid"
        /></span>
      </p>
      <div class="term-content">
        <p class="mb-0 term font-weight-bold">
          <strong>{{ "PAGES.PLANS.TERMS" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.01" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.02" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.03" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.04" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.05" | translate }}</strong>
        </p>
        <p class="mb-0 term">
          <strong>{{ "PAGES.PLANS.TERM_6.06" | translate }}</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="col text-center align-self-center">
    <img
      src="assets/img/plans/cuatrimoto.png"
      alt="Smiley face"
      height="393"
      width="589"
      class="img-fluid scale-with-grid mt-5"
    />
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ "COMPONENTS.PAY.TITLE" | translate }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="{{ 'PAGES.CONTACT.NAME' | translate }}"
            aria-label="Nombre"
            id="input-name"
            aria-describedby="basic-addon2"
          />
          <input
            type="email"
            class="form-control"
            placeholder="{{ 'PAGES.CONTACT.EMAIL' | translate }}"
            aria-label="Correo"
            id="input-email"
            aria-describedby="basic-addon2"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="{{ 'COMPONENTS.PAY.ID' | translate }}"
            aria-label="Asunto"
            id="input-issue"
            aria-describedby="basic-addon2"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            placeholder="{{ 'COMPONENTS.PAY.PHONE' | translate }}"
            aria-label="Telefono"
            id="input-phone"
            aria-describedby="basic-addon2"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "COMPONENTS.PAY.CANCEL" | translate }}
        </button>
        <button type="button" class="btn btn-success">
          {{ "COMPONENTS.PAY.CONFIRM" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
